@use '../../app/styles/abstracts' as *;

.card {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.imageContainer {
  position: relative;
  width: 70%;
  height: 60vh;
  margin-bottom: 2rem;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-align: center;
  color: css-var(primary-color);
}

.details {
  width: 100%;
  max-width: 600px;
  list-style: none;
  margin-bottom: 2rem;

  li {
    padding: 0.5rem 0;
    font-size: 1.1rem;

    a {
      color: css-var(secondary-color);
      text-decoration: underline;
    }
  }
}

.buttons {
  display: flex;
  gap: 1rem;

  button,
  a {
    padding: 0.8rem 1.5rem;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;

    &.orderButton {
      background: css-var(secondary-color);
      color: css-var(background-color);
      border: none;
    }

    &.detailsButton {
      background: transparent;
      color: css-var(secondary-color);
      border: 1px solid css-var(secondary-color);
    }
  }
}
