@use 'sass:color';
@use '../../../app/styles/abstracts' as *;

// ================================
// 📄 _image.scss
// ================================

.imageContainer {
  flex: 1;
  height: 50%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(css-var(background-color), 0.3);

  // 📱 PETITS ÉCRANS
  @include small-screens {
    width: 80%;
    max-height: 15rem;
    margin-top: 3.125rem;
  }

  @include from('small-sm') {
    width: 80%;
    max-height: 15rem;
    margin-top: 3.125rem;
  }

  @include from('small-lg') {
    max-width: 70%;
    max-height: 15rem;
    margin-top: 3.125rem;
  }

  @include from('small-xl') {
    max-width: 70%;
    max-height: 15rem;
    margin-top: 3.125rem;
  }

  // 📟 MOYENS ÉCRANS
  @include between('small-xl', 'medium-sm') {
    max-width: 70%;
    max-height: 15rem;
    margin-top: 3.125rem;
  }

  @include from('medium-sm') {
    max-width: 70%;
    max-height: 15rem;
    margin-top: 3.125rem;
  }

  @include from('medium-lg') {
    max-width: 70%;
    max-height: 15rem;
    margin-top: 3.125rem;
  }

  @include from('medium-xxl') {
    max-width: 70%;
    max-height: 15rem;
    margin-top: 3.125rem;
  }

  // 🖥️ GRANDS ÉCRANS
  @include from('large-xs') {
    width: auto;
    max-width: none;
    max-height: none;
    margin-top: 0;
  }
}
