.no-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10%;
  
    .no-content-text {
      color: orange;
      font-weight: bold;
      font-size: 1.75rem;
    }
  }