@import "@/app/app.scss";

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .title {
    width: 100%;
    padding-top: 3.125rem;
    padding-bottom: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;

    @include small {
      margin-top: 4rem;
      padding-top: unset;
      padding-bottom: unset;
    }

    @include mobile {
      margin-top: 6rem;
      padding-top: unset;
      padding-bottom: unset;
    }

    @include tablet {
      margin-top: 6rem;
      padding-top: unset;
      padding-bottom: unset;
    }

    @include laptop {
      margin-top: 6rem;
      padding-top: unset;
      padding-bottom: unset;
    }

    h1 {
      font-size: 2rem;
      color: orange;
      font-weight: 700;

      @include small {
        font-size: 1.3rem;
        text-align: center;
        margin-top: 1.25rem;
      }

      @include mobile {
        font-size: 1.625rem;
        text-align: center;
        margin-top: 1.25rem;
      }

      @include tablet {
        font-size: 1.625rem;
        text-align: center;
        margin-top: 1.25rem;
      }

      @include laptop {
        font-size: 1.625rem;
        text-align: center;
        margin-top: 1.25rem;
      }
    }
  }

  .contentContainer {
    width: 100%;
    height: 100%;
    display: flex;

    @include small {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    @include mobile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    @include tablet {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    @include laptop {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .imageContainer {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      @include small {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 15rem;
      }

      @include mobile {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 18.75rem;
      }

      @include tablet {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 18.75rem;
      }

      @include laptop {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 18.75rem;
      }

      .image1 {
        width: 28.125rem;
        padding: 1.25rem;
        border-radius: 0.938rem;
        border: 1px solid rgb(255, 247, 214);
        box-shadow:
          0 4px 8px 0 rgba(250, 250, 250, 0.19),
          0 6px 20px 0 rgba(250, 249, 249, 0.19);

        @include small {
          width: 12.5rem;
        }

        @include mobile {
          width: 12.5rem;
        }

        @include tablet {
          width: 12.5rem;
        }

        @include laptop {
          width: 12.5rem;
        }
      }
    }

    .wrapper {
      width: 50%;
      height: 100%;

      @include small {
        width: 100%;
      }

      @include mobile {
        width: 100%;
      }

      @include tablet {
        width: 100%;
      }

      @include laptop {
        width: 100%;
      }

      .textWrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 1rem;

        @include small {
          align-items: center;
          justify-content: center;
          gap: 0.4rem;
        }

        @include mobile {
          align-items: center;
          justify-content: center;
          gap: 0.625rem;
        }

        @include tablet {
          align-items: center;
          justify-content: center;
          gap: 0.625rem;
        }

        @include laptop {
          align-items: center;
          justify-content: center;
          gap: 0.625rem;
        }

        h2 {
          font-size: 1rem;
          color: rebeccapurple;
          letter-spacing: 0.188rem;
          margin-left: 1.25rem;

          @include small {
            font-size: 1.125rem;
            margin-top: 1rem;
          }

          @include mobile {
            font-size: 1.125rem;
            margin-top: 1.25rem;
          }

          @include tablet {
            font-size: 1.125rem;
            margin-top: 1.25rem;
          }

          @include laptop {
            font-size: 1.125rem;
            margin-top: 1.25rem;
          }
        }

        h1 {
          font-size: 3rem;
          margin-left: 1.25rem;

          @include small {
            font-size: 1.5rem;
          }

          @include mobile {
            font-size: 1.875rem;
          }

          @include tablet {
            font-size: 1.875rem;
          }

          @include laptop {
            font-size: 1.875rem;
          }
        }

        ul {
          list-style: none;
          margin-left: 3.125rem;

          @include small {
            margin-left: unset;
          }

          @include mobile {
            margin-left: unset;
          }

          @include tablet {
            margin-left: unset;
          }

          @include laptop {
            margin-left: unset;
          }

          li {
            margin-bottom: 7px;
            font-size: 1rem;
            font-weight: 300;

            @include small {
              font-size: 0.875rem;
              font-weight: unset;
            }

            @include mobile {
              font-size: 0.875rem;
              font-weight: unset;
            }

            @include tablet {
              font-size: 0.875rem;
              font-weight: unset;
            }

            @include laptop {
              font-size: 0.875rem;
              font-weight: unset;
            }

            span {
              margin-right: 0.625rem;
              color: orange;
            }
          }
        }

        p {
          font-size: 1rem;
          margin-left: 3.125rem;

          @include small {
            display: none;
          }

          @include mobile {
            display: none;
          }

          @include tablet {
            display: none;
          }

          @include laptop {
            display: none;
          }
        }

        h3 {
          font-size: 1.4rem;
          font-style: italic;
          margin-left: 3.125rem;

          @include small {
            font-size: 1.25rem;
            margin-left: unset;
          }

          @include mobile {
            font-size: 1.25rem;
            margin-left: unset;
          }

          @include tablet {
            font-size: 1.25rem;
            margin-left: unset;
          }

          @include laptop {
            font-size: 1.25rem;
            margin-left: unset;
          }
        }

        .buttons {
          width: 100%;
          display: flex;
          justify-content: center;
          margin-top: 1.875rem;

          @include small {
            margin: 0.7rem 0;
          }

          @include mobile {
            margin: 0.938rem 0;
          }

          @include tablet {
            margin: 0.938rem 0;
          }

          @include laptop {
            margin: 0.938rem 0;
          }

          .buyBtn {
            background-color: orange;
            color: white;
            width: 40%;
            padding: 1rem;
            border-radius: 0.625rem;
            margin-right: 1.25rem;
            cursor: pointer;
            font-weight: 600;
            font-size: 1rem;

            @include small {
              padding: 0.5rem;
              font-weight: 300;
            }

            @include mobile {
              padding: 0.625rem;
              font-weight: 300;
            }

            @include tablet {
              padding: 0.625rem;
              font-weight: 300;
            }

            @include laptop {
              padding: 0.625rem;
              font-weight: 300;
            }
          }

          .moreBtn {
            background-color: transparent;
            border: 1px solid orange;
            color: orange;
            width: 40%;
            padding: 1rem;
            border-radius: 0.625rem;
            margin-right: 1.25rem;
            cursor: pointer;
            font-weight: 500;
            font-size: 1rem;

            @include small {
              padding: 0.5rem;
              font-weight: 300;
            }

            @include mobile {
              padding: 0.625rem;
              font-weight: 300;
            }

            @include tablet {
              padding: 0.625rem;
              font-weight: 300;
            }

            @include laptop {
              padding: 0.625rem;
              font-weight: 300;
            }

            a.info {
              display: block;
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}