@use '@/app/app.scss' as *;

.planets {
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;

  @include small {
    background-size: contain;
    background-repeat: no-repeat;
  }

  @include mobile {
    background-size: contain;
    background-repeat: no-repeat;
  }
}
.stars {
  background-image: url('/stars.png');
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.banner {
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.banner .slider {
  position: absolute;
  width: 150px;
  height: 200px;
  top: 15%;
  left: calc(50% - 100px);
  transform-style: preserve-3d;
  transform: perspective(1000px);
  animation: autoRun 20s infinite linear;
  z-index: 3;
}

@keyframes autoRun {
  from {
    transform: perspective(1000px) rotateX(-26deg) rotateY(0deg);
  }
  to {
    transform: perspective(1000px) rotateX(-26deg) rotateY(360deg);
  }
}

.banner .slider .item {
  position: absolute;
  inset: 0 0 0 0;
  transform: rotateY(
      calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
    )
    translateZ(250px);

  cursor: pointer;
}

.banner .slider .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  &:hover {
    padding: 0.5rem;
    border: 1px solid rgb(255, 166, 0);
  }
}

@media screen and (max-width: 767px) {
  .banner .slider {
    width: 100px;
    height: 150px;
    top: 25%;
    left: calc(50% - 50px);
  }
  .banner .slider .item {
    transform: rotateY(
        calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
      )
      translateZ(180px);
  }
}
